@import "tailwindcss";

/* ********** */
/* Typography */
/* ********** */
@theme {
  --text-*: initial;
  --font-sans: "figtree", sans-serif;
}

@utility title-4xl {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}
@utility title-3xl {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}
@utility title-2xl {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}
@utility title-xl {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.005em;
}
@utility title-lg {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0;
}
@utility title-base {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  letter-spacing: 0;
}

/* Label Styles */
@utility label-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: -0.015em;
}
@utility label-lg {
  font-size: 1.0625;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.015em;
}
@utility label-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.011em;
}
@utility label-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.006em;
}
@utility label-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0;
}

/* Paragraph Styles */
@utility paragraph-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.015em;
}
@utility paragraph-lg {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.015em;
}
@utility paragraph-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.011em;
}
@utility paragraph-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.006em;
}
@utility paragraph-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

/* Subheading Styles */
@utility subheading-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@utility subheading-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@utility subheading-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@utility subheading-2xs {
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

html,
body {
  touch-action: pan-x pan-y;
}

body {
  /* background: linear-gradient(180deg, var(--color-neutral-50) 90px, white 90px); */
  background-color: var(--color-neutral-50);
}

button,
a {
  touch-action: manipulation;
}

/* hide the arrows on number text fields */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
